
.player1 {
    -fx-background-image: url("images/characters/Ronaldo.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.player2 {
    -fx-background-image: url("images/characters/Messi.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.player3 {
    -fx-background-image: url("images/characters/player3.png ");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.player4 {
    -fx-background-image: url("images/characters/player4.png ");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.player5 {
    -fx-background-image: url("images/characters/player5.png ");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}